{% extends 'public/layout.html.twig' %}

{% block title %}
    Business | {{ parent() }}
{% endblock %}

{% block section %}
    {% for rows in companies %}
        <div class="row">
        {% for company in rows %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="infobox">
                    {% set imagePath = "files/companies/" ~ company.getImagePath() %}
                    <a href="{{ path("company_show", {"slug": company.slug}) }}">
                        <img src="{{  asset(imagePath | imagine_filter("company_image_thumb")) }}" class="img-responsive" alt="{{ company.translate(locale).title | capitalize }}">
                    </a>
                    <h4>
                        <a href="{{ path("company_show", {"slug": company.slug}) }}">
                            {{ company.translate(locale).title }}
                        </a>
                    </h4>
                    {% if company.translate(locale).shortDescription %}
                        <p>{{ company.translate(locale).shortDescription | raw }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}