{% extends "admin/layout.html.twig" %}

{% block title %}
    News: edit | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ form_stylesheet(form) }}

    <link rel="stylesheet" href="{{ asset("assets/vendor/bootstrap-fileinput/css/fileinput.min.css") }}" type="text/css">
{% endblock %}

{% block section %}

    <!-- Content Header (News header) -->
    <section class="content-header">
        <h1>
            News: edit
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path("admin_dashboard") }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('admin_news_index') }}">News</a></li>
            <li class="active">Edit news</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include "admin/flash_message.html.twig" %}

        {{ form_start(form, {"attr": {"novalidate": "novalidate"} }) }}

            <div class="row">
                <div class="col-lg-8">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">News image</h3>
                        </div>
                        <div class="box-body">
                            <p>Current images:</p>
                            {% if newsImages|length > 0  %}
                                <div class="row">
                                {% for key, image in newsImages %}
                                    {{ dump(key) }}
                                    <div class="col-lg-3">
                                        {% set imagePath = "files/news/" ~ entity.id ~ "/" ~ image %}
                                        <p><img class="img-responsive" src="{{  asset(imagePath | imagine_filter("news_image_thumb")) }}" /></p>
                                        <p>
                                            <a href="{{ path('admin_news_remove_image', {'id': entity.id, 'imagePath': image, 'imageKey': key}) }}">
                                                <span class="label label-danger">Remove image</span>
                                            </a>
                                        </p>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}

                            <br>

                            <label>Add more images</label>
                            {{ form_widget(form.images) }}
                            {% if form_errors(form.images) %}
                                <div style="color: red">{{ form_errors(form.images) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Translations</h3>
                        </div>
                        <div class="box-body">
                            {{ form_row(form.translations) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">News Settings</h3>
                        </div>
                        <div class="box-body">
                            <label>URL <span style="color: red;">*</span></label>
                            {{ form_widget(form.slug, { "attr": { "class": "form-control input" } }) }}
                            {% if form_errors(form.slug) %}
                                <div style="color: red">{{ form_errors(form.slug) }}</div>
                            {% endif %}

                            <br>

                            <label>Date <span style="color: red;">*</span></label>
                            {{ form_widget(form.date, { "attr": { "class": "form-control input" } }) }}
                            {% if form_errors(form.date) %}
                                <div style="color: red">{{ form_errors(form.date) }}</div>
                            {% endif %}

                            <br>
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.published, {"attr": { "class": "btn btn-me btn-default" } }) }} Published
                                </label>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>If not checked, content will be hidden.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
            <div class="box-body">
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-me btn-flat btn-primary">Save</button>
            </div>
        </div>

        {{ form_end(form) }}
    </section><!-- /.content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ form_javascript(form) }}

    <script src="{{ asset("assets/vendor/bootstrap-fileinput/js/fileinput.min.js") }}" type="application/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#admin_news_image").fileinput({
                showUpload: false,
                allowedFileTypes: ["image"],
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                previewSettings: {
                    image: {width: "auto", height: "auto"}
                }
            });
        });
    </script>

    <script src="{{ asset("assets/vendor/ckeditor/ckeditor.js") }}"></script>
    <script type="text/javascript">
        CKEDITOR.config.allowedContent = true;
        CKEDITOR.config.coreStyles_italic =
        {
            element: 'i',
            overrides: 'i'
        };
        config.coreStyles_bold =
        {
            element: 'b',
            overrides: 'b'
        };
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.extraAllowedContent = '*(*)';        
    </script>
{% endblock %}