{% extends "admin/layout.html.twig" %}

{% block title %}
    News | {{ parent() }}
{% endblock %}

{% block section %}

    <!-- Content Header (News header) -->
    <section class="content-header">
        <h1>
            News
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path("admin_dashboard") }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">News</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include "admin/flash_message.html.twig" %}

        <div class="box box-info">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            {#<th>Images</th>#}
                            <th>Title</th>
                            <th>Body</th>
                            <th>URL</th>
                            <th>Date</th>
                            <th>Published</th>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <th>Meta Information</th>
                            {% endif %}
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                {#<td>#}
                                    {#{% if entity.imagePaths|length > 0 %}#}
                                    {#<a href="{{ url("admin_news_edit", {'id': entity.id}) }}">#}
                                        {#{% set imagePath = "files/news/" ~ entity.imagePaths[0] %}#}
                                        {#<img class="img-responsive" src="{{  asset(imagePath | imagine_filter("news_image_thumb")) }}" />#}
                                    {#</a>#}
                                    {#{% endif %}#}
                                {#</td>#}
                                <td>
                                    <a href="{{ url("admin_news_edit", {'id': entity.id}) }}">
                                        {{ entity.translate(locale).getTitle() }}
                                    </a>
                                </td>
                                <td>
                                    {{ entity.translate(locale).getBody()|striptags|slice(0, 300) }}
                                </td>
                                <td>
                                    {{ entity.slug }}
                                </td>
                                <td>
                                    {{ entity.date | date('d/m/Y') }}
                                </td>
                                <td>
                                    {% if entity.published %}
                                        <span style="color: green"><strong>Yes</strong></span>
                                    {% else %}
                                        <span>No</span>
                                    {% endif %}
                                </td>
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                    <td>
                                        <ul>
                                            <li>
                                                Created at <span class="label label-info">{{ entity.createdAt | date("d F, Y H:i") }}</span>,
                                                by
                                                {% if entity.createdBy %}
                                                    <span class="label label-info">{{ entity.createdBy.username }}</span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                Updated at <span class="label label-info">{{ entity.updatedAt | date("d F, Y H:i") }}</span>,
                                                by
                                                {% if entity.updatedBy %}
                                                    <span class="label label-info">{{ entity.updatedBy.username }}</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {#<li><a href="{{ url("news", {'slug': entity.slug}) }}" target="_blank">View</a></li>#}
                                            <li><a href="{{ url("admin_news_edit", {'id': entity.id}) }}">Edit</a></li>
                                            <li><a href="{{ url('admin_news_delete', {'id': entity.id}) }}" class="confirm-delete">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset("assets/js/jquery.confirm.min.js") }}"></script>
    <script type="text/javascript">
        $("a.confirm-delete").confirm({
            text: "Are you sure you want to delete that item?"
        });
    </script>
    
{% endblock %}